.serchBar {
  padding: 0px 15px;
  border-radius: 30px;
  /* background: var(--color-gray-1); */
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  background: rgba(132, 60, 188, 0.15);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(14.3px);
-webkit-backdrop-filter: blur(14.3px);
border: 1px solid rgba(132, 60, 188, 0.38);
color: var(--color-gray-0) !important;
}

.icon {
  width: 14px;
  height: 14px;
  color: var(--color-gray-0);
}
