.sideBarHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  /* border-bottom: 1px solid var(--color-gray-1); */
  box-shadow: 0 0px 3px rgba(255, 255, 255, 0.15), 0px 0px 3px rgba(138, 43, 226, 0.3);
  height: 65px;
  
}

.navigationBtn img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.navigationBtn {
  width: 40px;
  height: 40px;
  object-fit: contain;
}
.sideBarLinks {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
}
.link,
.parentLink,
.childLink {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 8px 8px 12px;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-transform: capitalize;
  margin-bottom: 8px;
}
.link,
.childLink {
  color: var(--color-gray-0);
}
.childLink {
  margin: 10px 0;
  padding: 8px 8px 8px 16px;
}

.active {
  color: var(--color-primary);
  border-radius: 20px;
  border: 1px solid rgba(132, 60, 188, 0.38) !important;

}
.activeicon {
  /* background-color: #d7e3fd; */
  color: var(--color-primary) !important;
  border-radius: 50% !important;
}

.parentAccordion {
  min-height: 55px !important;
  background: #fafbfd !important;
  border-radius: 24px !important;
  color: var(--color-black-0);
  width: 100%;
  margin-bottom: 15px !important;
  padding: 0px 19px !important;
  padding-top: 5px !important;
  background: rgba(132, 60, 188, 0.15) !important;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(14.3px);
  -webkit-backdrop-filter: blur(14.3px);
  /* border: 1px solid rgba(132, 60, 188, 0.38) !important; */
  color: var(--color-gray-0) !important;
}
.activeParent {
  /* color: var(--color-primary) !important;
  background: var(--color-primary-light) !important; */
  background: rgba(132, 60, 188, 0.15) !important;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(14.3px);
  -webkit-backdrop-filter: blur(14.3px);
  border: 1px solid rgba(132, 60, 188, 0.38) !important;
  color: var(--color-primary) !important;
}

.sideBarFooter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-top: 1px solid var(--color-gray-1); */
  box-shadow: 0 0px 3px rgba(255, 255, 255, 0.15),
  0px 0px 3px rgba(138, 43, 226, 0.3);
  height: 3rem;
  /* filter: grayscale(1); */
}
.dotIcon {
  width: 10px !important;
}

.sideBarCont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 65px);
}
