.container {
  width: 100%;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
}
.progressBar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f9f9f9;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  text-align: center;
}

.circle {
  width: 29px !important;
  height: 29px !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: bold;
}

.checked {
  color: var(--color-primary);
  width: 35px !important;
  height: 35px !important;
}

.checkedText span {
  color: var(--color-black-0) !important;
}
.checkedText .checkedSubText {
  color: var(--color-gray-6) !important;
}

.highlighted {
  background-color: var(--color-primary);
  color: white;
}
.highlightedText span {
  color: var(--color-primary) !important;
}
.highlightedText .highlightedSubText {
  color: var(--color-primary) !important;
}
.disabled {
  background-color: var(--color-black-1);
  color: white;
}
.disabledText span {
  color: var(--color-black-2) !important;
}
.disabledText .disabledSubText {
  color: var(--color-gray-6) !important;
}
